<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>마니또 입력</title>
</head>

<body>
    <h1>마니또 입력하기</h1>

    <form method="post">
        <label>본인 이름:
            <input type="text" name="name" required>
        </label>
        <br><br>
        <label>마니또 이름:
            <input type="text" name="guessing" required>
        </label>
        <br><br>
        <label>추측하는 마니또:
        </label>
        <br><br>
        <button type="submit">제출</button>
    </form>
</body>

</html>